// Text
$primary-clr: #202020;
$secondary-clr: #000;
$third-clr: rgba(32, 32, 32, 0.4);
$accent-clr: #245E97;
$product-name: #545454;
$whire-clr: #fff;
$message-title-plchl: #121127;
$message-clr-plchl: rgba(18, 17, 39, 0.4);



// Logo
$logo-clr: #245E97;

// Button 
$default-btn: #245E97;
$hover-btn: #0F69B8;
$pressed-btn: #065599;
$check-btn: #fff;
$arrow-btn-primary: #fff;
$arrow-btn-disabled: #DAD7E0;
$plus-btn-primary: #fff;
$plus-btn-disabled: #DAD7E0;
$text-btn-clr: #fff;
$text-disabled: #DAD7E0;
// $focus-btn: /* ⚙️ System/Focus Border */

// background: rgba(255, 255, 255, 0.01);
// /* ⚙️ System/Focus Border */

// border: 2px solid rgba(255, 255, 255, 0.01);
// /* State/Focus */

// box-shadow: 0px 0px 0px 2px #1D90F5;

// /* Inside auto layout */

// flex: none;
// order: 4;
// flex-grow: 0;
// z-index: 4;
$disabled-btn: #F3F2F5;


// Burger-menu
$bm-clr-btn: #202020;

// Icon elements
$arrow-default-nav: #1E1E1E;
$arrow-accent-nav: #245E97;
$arrow-pagination: #0F0233;
$user-clr: #202020;
$search-icon-primary: #878199;
$search-icon-active: #3E345C;
$search-icon-filled: #0F0233;
$search-icon-disabled: #DAD7E0;


// Search 
$search-input-primary-bgc: #F3F2F5; 
$search-input-hover-bgc: #EAE9ED;
$search-primary-clr: #878199;
$search-hover-clr: #3E345C;
$search-filled-clr: #0F0233;
$search-disabled-clr: #DAD7E0;
$pagination-clr: #0F0233;

// Sign-in
$sign-in-bgc-primary: #F3F2F5;
$sign-in-bgc-hover: #EAE9ED;
$sign-in-modal: #1E1E1E;
$check-police-text: #0F0233;
$check-police-accent: #EB5F01;
$content-clr-primary: #878199;
$content-clr-text: #3E345C;
$content-clr-introduced: #0F0233;
$content-clr-disabled: #DAD7E0;
$error-clr: #E00909;
$success-clr: #009966;

// Background 
$pagination-bg: #245E97;
$transparent-matte-bg: rgba(255, 255, 255, 0.5);
// backdrop-filter: blur(10px); /* маттовый эффект */

// User Profile
$user-clr: #6F7096;
$user-content: #1E1C2A;
$icon-user-profile: #245E97;
$saved-success: #158D1D;